
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: #005f73;
}

.App {
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
}


.title {
  
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-family: 'Viaoda Libre', cursive;
}

.quote{
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Tangerine', cursive;
  font-size: 1.9em;
  font-weight: 700;
}

#quote{
  border-radius: 15px;
  padding: 10px;
  font-size: 1.9em;
}

.author{
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.8em;
  text-align: right;
  margin-right: 15px;
}

/* button */
.test{
  margin-top: 30px;
  
}

button{
  position: absolute;
  bottom: 10px;
  appearance: none;
  font-family: 'Viaoda Libre', cursive;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  width: 250px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.25s;
}

button:hover {
  background-color: rgb(245, 247, 249);
  font-weight: bolder;
}
